<%= provide(:title, 'Home') %>

<div class="hero-unit text-center">
  <img src="/url.png">
  <form class="form-search">
    <div class="input-append">
      <input type="text" class="span4 search-query" placeholder="Search zillions of parts...">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>
