<%= provide(:title, 'Search Results') %>

<div class="hero-unit">
  <h2>Search results for... <a href="#">01A68</a></h2>
</div>
<div class="controls-row">
  <select class="span2">
    <option>Filter</option>
  </select>
  <form class="form-search pull-right">
    <input type="text" class="span2 search-query" placeholder="Search...">
    <select class="span2">
      <option>Options</option>
    </select>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Part No.</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Description</th>
      <th>Seller</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01A68</td>
      <td>10000</td>
      <td>$34.99</td>
      <td>Lorem ipsum dolar.</td>
      <td><a href="#">Seller</a></td>
      <td>Rating</td>
    </tr>
    <tr>
      <td>01A68</td>
      <td>10000</td>
      <td>$34.99</td>
      <td>Lorem ipsum dolar.</td>
      <td><a href="#">Seller</a></td>
      <td>Rating</td>
    </tr>
    <tr>
      <td>01A68</td>
      <td>10000</td>
      <td>$34.99</td>
      <td>Lorem ipsum dolar.</td>
      <td><a href="#">Seller</a></td>
      <td>Rating</td>
    </tr>
    <tr>
      <td>01A68</td>
      <td>10000</td>
      <td>$34.99</td>
      <td>Lorem ipsum dolar.</td>
      <td><a href="#">Seller</a></td>
      <td>Rating</td>
    </tr>
    <tr>
      <td>01A68</td>
      <td>10000</td>
      <td>$34.99</td>
      <td>Lorem ipsum dolar.</td>
      <td><a href="#">Seller</a></td>
      <td>Rating</td>
    </tr>
  </tbody>
</table>

<div class="pagination pull-right">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>

