<%= provide(:title, 'Supplier Page') %>

<div class="row">
  <div class="span4">
    <img class="img-polaroid" src="/assets/url.png">
  </div>
  <div class="span8">
    <h1>A1 Suppliers Co.</h1>
    <h2><span class="muted">Overall Rating:</span> <span class="text-warning">C+</span></h2>
    <p class="well">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
    </p>

<!-- comments -->
    <section class="feedback">
      <h4 class="reviewer-name">Patrick Brown <span class="muted">wrote:</span></h4>
      <p class="feedback-content">
        Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet.
      </p>
      <h4 class="rating"><span class="muted">Rating:</span> <span class="text-success">A</span></h4>
      <hr>
      <h4>Patrick Anthony <span class="muted">wrote:</span></h4>
      <p>
        Aenean commodo ultrices imperdiet.
      </p>
      <h4><span class="muted">Rating:</span> <span class="text-error">F</span></h4>
      <hr>
    </section>
  </div>
</div>

<div class="row supplier">
  <section class="supplier-icon pull-left">
    <ul class="thumbnails">
      <li class="span4"><a href="#"><%= holder_tag '125x125', 'Supplier Logo', 'gray', :id => '1', :class => 'supplier-logo' %></a></li>
    </ul>
  </section>

  <section class="supplier-info">
    <h3>IAMASUPPLIER</h3>
    <h4><span class="muted">Overall Rating:</span> <span class="text-warning">C+</span></h4>
  </section>
</div>
