<%= provide(:title, 'Supplier List') %>

<dl class="dl-horizontal" id="suppliers">
  <div class="supplier">
    <dt>
      <a href="#"><%= holder_tag '115x115', 'Supplier Logo', 'gray', :id => '1', :class => 'supplier-logo' %></a>
    </dt>
    <dd>&nbsp;</dd>
    <dd>
      <h3>A1 Suppliers Co.</h3>
      <h4><span class="muted">Overall Rating:</span> <span class="text-warning">C+</span></h4>
    </dd>
  </div>

  <div class="supplier">
    <dt>
      <a href="#"><%= holder_tag '115x115', 'Supplier Logo', 'gray', :id => '1', :class => 'supplier-logo' %></a>
    </dt>
    <dd>&nbsp;</dd>
    <dd>
      <h3>IAMASUPPLIER</h3>
      <h4><span class="muted">Overall Rating:</span> <span class="text-warning">A-</span></h4>
    </dd>
  </div>

  <div class="supplier">
    <dt>
      <a href="#"><%= holder_tag '115x115', 'Supplier Logo', 'gray', :id => '1', :class => 'supplier-logo' %></a>
    </dt>
    <dd>&nbsp;</dd>
    <dd>
      <h3>Whodat Supply</h3>
      <h4><span class="muted">Overall Rating:</span> <span class="text-warning">C+</span></h4>
    </dd>
  </div>
</dl>