// @import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, blah blah */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* forms */

input, textarea, select, .undeditable-input {
	border: 1px solid #bbb;
  	// width: 100%;
  	// padding: 10px;
  	// margin-bottom: 15px;
  	@include box_sizing;
}

input {
  	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		// list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* supplier page */

.supplier {
	margin-bottom: 1.5em;
}

/* miscellaneous */

.btn-signin {
	margin-top: 4px;
	margin-right: 12px;
	margin-bottom: 0px;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}