<!-- < @suppliers.each do |supplier| %> -->
	<div class="supplier">
		<dt>
			<a href="#"><%= holder_tag '115x115', 'Supplier Logo', 'gray', :id => '1', :class => 'supplier-logo' %></a>
		</dt>
		<dd>&nbsp;</dd>
		<dd>
			<h3><%= supplier.name.to_s.humanize %></h3>
			<h4><span class="muted">Overall Rating:</span> <span class="text-warning">C+</span></h4>
		</dd>
	</div>
<!-- < end %> -->