<%= provide(:title, 'Supplier List') %>
<h1>Suppliers</h1>

<dl class="dl-horizontal" id="suppliers">
	<%= render partial: "supplier", collection: @suppliers %>
	<!-- < @suppliers.each do |supplier| %>
		<= render 'supplier', supplier:supplier %>
	< end %> -->
</dl>

<%= will_paginate %>